<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1" maxUrlLength="10999" maxQueryStringLength="2097151"/>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=localhost;Initial Catalog=roommagnet;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings> <!--<connectionStrings>
    Aymon and Kris' Connection String (bc our servers aren't called local host)
    <add name="cs" connectionString="Data Source=DESKTOP-QLQP0S6\LOCALHOST;Initial Catalog=roommagnet;Integrated Security=True
        providerName="System.Data.SqlClient" />
    <add name="cs" connectionString="Data Source=DESKTOP-F3I6BHS\SQLEXPRESS;Initial Catalog=roommagnet;Integrated Security=True
        providerName="System.Data.SqlClient" />
  </connectionStrings> -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
